.table{
    thead{
        margin-bottom: 10px;
    }
    th{
        font-weight: 500;
        font-size: 20px;
        input{
            margin-top: 10px;
        }
    }
    tr{
        font-size: 16px;
    }
}

    .single-filter-container{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
    }
