<table class="table table-hover">
    <thead class="text-center align-middle">
        <tr>
            <th>
                Full Name
                <!-- <div class="d-flex justify-content-center">
                    <input class="form-control w-auto" id="nameFilter">
                </div> -->
            </th>
            <th>
                Email
                <!-- <div class="d-flex justify-content-center">
                    <input class="form-control w-auto" id="emailFilter">
                </div> -->
            </th>
            <th>
                Phone Number
                <!-- <div class="d-flex justify-content-center">
                    <input class="form-control w-auto" id="phoneNumberFilter">
                </div> -->
            </th>
            <th>
                Number Of Favourite Products
                <!-- <div class="d-flex justify-content-center">
                    <input class="form-control w-auto" id="numberOfFavouritesFilter">
                </div> -->
            </th>
            <th>
                Registration Date
                <!-- <div class="single-filter-container" id="dateFilter">
                    <span>From</span>
                    <input type="date" class="form-control w-auto">
                </div>
                <div class="single-filter-container">
                    <span>To</span>
                    <input type="date" class="form-control w-auto">
                </div> -->

            </th>
        </tr>
    </thead>
    <tbody>
        @for (item of usersData; track $index) {
            <tr class="text-center align-middle">
                <td> {{item.name}} </td>
                <td> {{item.email}} </td>
                <td> {{item.phoneNumber}} </td>
                <td>
                    <button type="button" class="btn btn-outline-primary">
                        {{item.numberOfFavourites}}
                    </button>
                </td>
                <td> {{item.registrationDate}} </td>
            </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>