<table class="table table-hover">
    <thead class="text-center align-middle">
        <tr>
            <th>
                Full Name
            </th>
            <th>
                Email
            </th>

            <th>
                Number Of Favourite Products
            </th>
            <th>
                Registration Date
            </th>
        </tr>
    </thead>
    <tbody>
        @for (item of usersData; track $index) {
            <tr class="text-center align-middle">
                <td> {{item.name}} </td>
                <td> {{item.email}} </td>
                <td>
                    <button type="button" class="btn btn-outline-primary">
                        {{item.numberOfFavourites}}
                    </button>
                </td>
                <td> {{ formatDate(item.created_at) }}  </td>
            </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>
