<div class="title-container text-center">
    <h2 mat-dialog-title>Edit a Category</h2>
</div>

<mat-dialog-content>
    <form [formGroup]="editCategoryForm">
        <div>
            <label class="form-label">Label</label>
            <input formControlName="name" type="text" class="form-control">
        </div>
        <mat-dialog-actions align="end">
            <button class="btn btn-danger" mat-dialog-close>Close</button>
            <button class="btn btn-success"  (click)="editCategory()" [mat-dialog-close]="true" [disabled]="!editCategoryForm.value">Edit</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>
