<div class="title-container text-center">
    <h2 mat-dialog-title>Add a Category</h2>
</div>

<mat-dialog-content>
    <form [formGroup]="addCategoryForm">
        <div>
            <label class="form-label">Label</label>
            <input formControlName="name" type="text" class="form-control">
        </div>
    </form>
    <mat-dialog-actions align="end">
        <button class="btn btn-danger" mat-dialog-close>Close</button>
        <button type="submit" class="btn btn-success" (click)="addCategory()" [disabled]="!addCategoryForm.valid">Add</button>
    </mat-dialog-actions>
    
</mat-dialog-content>

