<div class="title-container text-center">
    <h2 mat-dialog-title>Add a Product</h2>
</div>

<mat-dialog-content>
    <form [formGroup]="addProductForm">
        <div class="imgUpload">
            <label class="form-label">Cover Image</label>
            <div class="file-drop-area" (click)="fileInput.click()">
                <span *ngIf="!previewUrl" class="drop-text">Drag & drop a file or click to browse</span>
                <input
                    type="file"
                    (change)="onFileSelect($event)"
                    #fileInput
                    formControlName="image"
                    hidden/>
            </div>
        </div>
        <div class="card imagePreview" *ngIf="previewUrl">
            <div class="card-body">
                <img [src]="previewUrl" alt="Preview" class="preview-image">
            </div>
        </div>

        <div>
            <label class="form-label">Category</label>
            <select formControlName="category_id" class="form-select">
              <option *ngFor="let item of categoriesData" [value]="item.id">
                {{item.name}}
              </option>
            </select>
        </div>
        <div>
            <label class="form-label">Title</label>
            <input formControlName="title" class="form-control">
        </div>
        <div>
            <label class="form-label">Author</label>
            <input formControlName="author" class="form-control">
        </div>
        <div>
            <label class="form-label">Year Of Publication</label>
            <input formControlName="published_year" class="form-control" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
        </div>
        <div>
            <label class="form-label">Description</label>
            <input formControlName="description" class="form-control">
        </div>
        <div>
          <label for="" class="form-label">Stock</label>
          <input formControlName="quantity" class="form-control" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
        </div>
        <div class="input-group">
            <label class="form-label">Price</label>
            <input formControlName="price" class="form-control" (input)="onInputChange($event)"
            (keypress)="onKeyPress($event)">
            <span class="input-group-text" id="basic-addon1">$</span>
        </div>
        <mat-dialog-actions align="end">
            <button class="btn btn-danger" mat-dialog-close>Close</button>
            <button class="btn btn-success" type="submit" (click)="addProduct()" [disabled]="!addProductForm.valid">Add</button>
        </mat-dialog-actions>
    </form>

</mat-dialog-content>

