<app-header></app-header>

<div class="row">
    <div class="col-4">
        @for (item of menuItems; track item) {
            <div class="buttons-container">
                <button
                [id]="item.tagId"
                (click)="onNavBtnClick(item)"
                [ngStyle]="item.clicked ? clickedBtnStyle : btnStyle">
                    <i [classList]="item.icon"></i>
                    <div id="menu-item"> {{item.name}} </div>
                </button>
            </div>
        }
    </div>
</div>

<div class="row card-container">
    <div class="col-11">
        <div class="card">
            <div class="card-header">
                <h2>List of {{loadedPage}} </h2>
            </div>

            <div class="card-body text-center">
                @switch (loadedPage) {
                    @case ("Products") {
                        <app-products></app-products>
                    }
                    @case ("Users") {
                        <app-users></app-users>
                    }
                    @default {
                        <app-categories></app-categories>
                    }
                }
            </div>
            <div class="card-footer text-center">

            </div>
    </div>

</div>
